// BUTTONS

.level1button {
	fill:				red;
}

.level1button:hover {
	stroke:				#3db7e4;
	stroke-width:		5px;
	// fill:				#3db7e4;
}

.level2button {
	fill:				#333;
}

.level2button:hover {
	stroke:				#3db7e4;
	stroke-width:		5px;
}




// TEXT
.buttontext {
//	font-family:		Roboto, sans serif;
//	fill:				blue;
//	color:				green;
}
